<div class="container">
  <div class="coaching">
  <h1 class = "text-center">Stupid Coaching in Rails</h1>
  <div class="row">
  <div class="offset-md-4 col-md-4">
    <form action="/answer">
      <p class="text-center">Ask your coach anything</p>
        <div class="ask">
      <div class="form-inline">

        <input type="text" name="question" class="form-control">
        <input type="submit" name="Ask" value="Ask" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
  </div>
  </div>
</div>
